.item-container h1 {
  text-align: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.item-list {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 0%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.item-container form {
  justify-content: center;
  align-items: center;
  width: 350px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.item-container input {
  border-radius: 5px;
  height: 20px;
}

.input-item {
  align-items: center;
  justify-content: center;
  width: 150px;
}

.input-price {
  width: 65px;
  max-width: 65px;
}

.quantity {
  width : 45px;
}

.tax-name-list {
  padding: 5px;
}

.item-name-list ul{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}