@import url('../global.css');


.each-owed {
  /* border : 2px solid yellow; */
  width: 100vh;
  height: 100%;
  min-height: 100vh;
  padding: 0%;
  padding-bottom: 5%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.friendsOwe{
  width: 100%
}

ul {
  list-style-type: none;
}

.each-owed__friends-list{
  padding: 0px 10px 0px 10px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: white;
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 0.9em;
  
}
