

.file-input {
    margin-bottom: 1rem;
    width: 100%;
}

.cropped-image {
    margin-top: 1rem;
    width: 200px;
    max-width: 50%;
    height: 500px;
}

h1 {
    -webkit-text-stroke: 1.5px black;
}

.receipt-capture__container {
    margin-bottom: 48px;
    max-width: 480px;
}

.receipt-capture__text-content {
    text-align: center;
}

.receipt-capture__title {
    font-size: 36px;
    font-weight: 1000;
    margin-block-end: 0px;
    margin-block-start: 32px;
    color: white;
    text-shadow: 2px 2px black;
}

.receipt-capture__heading {
    font-weight: 500;
    font-size: 12px;
    margin-block-start: 16px;
    margin-block-end: 24px;
    color: black
}

.receipt-capture__image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

.receipt-capture__image-content {
    border-width: 8px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
}

.receipt-capture__crop-image-button-container {
    width: 95%;
}

.receipt-capture__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.receipt-capture__item-container h1 {
    font-size: 36px;
    font-weight: 1000;
    margin-block-end: 0px;
    margin-block-start: 48px;
    color: white;
    text-shadow: 2px 2px black
}

.receipt-capture__item-container h5 {
    font-weight: 700;
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 24px;
    color: black
}

.receipt-capture__item-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.receipt-capture__input-form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    height: 3em;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px;
    width: 80%;
}

.receipt-capture__input-form-item input{
    outline: none;
    background-color: transparent;
    border-color: transparent;
}

.receipt-capture__item-sub-total {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid;
    border-radius: 16px;
    font-weight: 700;
    background-color: #fff;
    font-size: 12px;
    width: 100%;
    max-width: 357px;
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    padding-right: 10px;
    justify-content: space-between;
}

.receipt-capture__item-cost-container{
    margin-top: 16px;
    margin-bottom: 16px;
    border: 2px solid;
    border-radius: 16px;
    font-weight: 700;
    background-color: #fff;
    font-size: 12px;
    width: 100%;
    max-width: 357px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receipt-capture__item-charges-sub-total {
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    max-width: 357px;
    padding-right: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.receipt-capture__item-charges-total-cost {
    font-weight: 700;
    font-size: 12px;
    width: 100%;
    max-width: 357px;
    padding-right: 16px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.receipt-capture__tax-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.receipt-capture__tax-container h1 {
    font-size: 36px;
    font-weight: 1000;
    margin-block-end: 0px;
    margin-block-start: 48px;
    color: white;
    text-shadow: 2px 2px black
}

.receipt-capture__tax-container h5 {
    font-weight: 700;
    font-size: 12px;
    margin-block-start: 0px;
    margin-block-end: 24px;
    color: black
}

.receipt-capture__tax-container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.receipt-capture__input-form-tax {
    text-align: center;
    background-color: white;
    border-width: 2.5px;
    border-color: black;
    border-style: solid;
    height: 2em;
    margin-right: 10px;
    border-radius: 8px;
    box-shadow: 4px 4px;
    width: 80%;
}

.receipt-capture__input-form-tax input{
    outline: none;
    background-color: transparent;
    border-color: transparent;
}
