@import url('../global.css');

.add-button button {
    font-family: monospace;
    font-size: smaller;
    padding: 3px 5px;
    background-color: transparent ; /* Transparent background */
    border: 2px solid var(--action-button-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    color: var(--action-button-color);
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight:700;
    min-width: 30px;
    max-width: 70px;
    min-height: 22.8px;
    max-height: 50px;
    white-space: nowrap;
  
  }
  
  .add-button button:hover {
    background-color: var(--action-button-color); /* Green background on hover */
    color: var(--white-bg); /* White text color on hover */
  }