@import url('../global.css');

.next-button button {
    margin-top: 15px;
    font-family: monospace;
    font-size: 12px;
    padding: 5px 10px;
    background-color: transparent; /* Transparent background */
    border: 2.5px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    background-color: #e3dff2;
    box-shadow: 4px 3px;
  }

.next-button button:hover{
  box-shadow: 0px 0px;
  background-color: #c4a1ff;
}