.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  /* border: 2px solid green; */
  background-color: #444444;
  color: #333333 ;
}

.App {
  /* border : 2px solid purple; */
  background-color: #CAD3E4;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #FFFFFF;
  color: #333333;
  border: 2.5px solid #B1B1B1 ;
}
