:root {
    --primary-bg-color: #CAD3E4;
    --nav-bg-color: #d7e6ee;
    --primary-text-color: #333333;
    --action-button-color: #E63946;
    --primary-card-border-color: #2B3A67;
    --primary-item-control: #1b1b1b;
    --white-bg: #fff;
    --trash-color: #E63946;
    --edit-color: #2B3A67;
    /* more variables */
}
