:root {
    --primary-bg-color: #FFFFFF;
    --nav-bg-color: #d7e6ee;
    /* --nav-bg-color: #c6e0ee; */
    --primary-text-color: #333333;
    --action-button-color: #ffffff;
    --primary-card-border-color: #1c4c6c;
    --primary-item-control: #1b1b1b;
    --white-bg: #fff;
    --trash-color: #E63946;
    --edit-color: #2B3A67;
    /* more variables */
}
