@import url('../global.css');


.friends-list__container {
  width: 90%;
  max-width: 420px;
  height: 100%;
  min-height: 100vh;
  margin-bottom: 32px;
  display : flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg-color);
}

.friends-list__container form{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.friends-list__container input {
  border-radius: 8px;
  height: 3em;
  outline: none;
}

.friends-list__input-form {
  align-items: center;
  justify-content: center;
  width : 100%;
  display : flex;
}

.friends-list__input-form input{
  padding-left: 8px;
  box-shadow: 4px 4px;
  border-color: black;
}

.friends-list__button-container {
  align-items: center;
  justify-content: center;
  display : flex;
  flex-direction: column;
  font-size: 10px;
}

.friends-list__friends-name {
  width : 100%;
  margin-top : 32px;
  display : flex;
  font-size : 14px;
  
}

.friends-list__friends-name ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.friends-list__text-content {
  text-align: center;
}

.friends-list__title {
  font-style: sans-serif;
  text-shadow: 2px 2px black;
  -webkit-text-stroke: 1.5px black;
  font-size: 36px;
  font-weight: 1000; 
  margin-block-end: 0px; 
  margin-block-start: 32px; 
  color: white;
}

.friends-list__heading {
  margin-top: 4px; 
  margin-bottom: 24px;
  font-style: sans-serif;
  font-weight: 700;
  font-size: 12px;
  margin-block-start: 8px;
  margin-block-end: 8px;
  color: black;
  text-align: center;
}